section.bilet {
  position: fixed;
  bottom: 10%;
  left: 3%;
  width: 100px;
  height: 100px;
  padding-top: 34px;
  border-radius: 50%;
  font-size: 15px;
  background: #7b66e8;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  transition: background 0.3s ease;

  &:hover {
    background: #6b58cd;
  }
}
