
#menu{
	background: #fff;	
	position: fixed;	
	top: 0;
	z-index: 100;
	padding-left: 15px;	
	padding-right: 15px;	
	box-sizing: border-box;
	& .logo {
		padding-bottom: 9px;	
		float: left;
		overflow: hidden;
		padding-top: 9px;	
		@media screen and (min-width: 480px) {
			width: 70px;	
		}	
		@media screen and (min-width: 1200px) {
			width: auto;
		}
	}
	
	& .navigation {
		float: right;
		padding-top: 0;
		@media screen and (min-width: 480px) {
			&.active {
				background: #242424;
				width: 100%;	
				position: absolute;	
				top: 88px;	
				left: 0;
				margin-left: 0;	
				padding: 15px 70px 50px 60px;
				box-sizing: border-box;
			}
			
			&.not-active {
				display: none;
			}
		}	
		@media screen and (min-width: 960px) {
			&.active {
				display: block;
				margin-left: 30px;
				background: transparent;
				width: auto;
				position: static;
				padding: 0;
			}
			
			&.not-active {
				display: block;
			}	
			
		}
	}
	
	& .navElement{
		color: #a1a1a1;
		font-size: 15px;
		&:hover {
			color: #6b58cd;
		}
		
		@media screen and (min-width: 480px) {
			display: block;
			border-bottom: 1px dotted #4f5253;
			padding-top: 23px;	
			padding-bottom: 18px;	
			position: relative;
		}
		
		@media screen and (min-width: 960px) {
			padding: 35px 13px 37px 13px;
			display: inline-block;	
			border: none;	
		}
		
		&.haveSubMenu:after{
			content: ' ';
			width: 9px;	
			height: 5px;	
			background: url('../images/sprite.png') no-repeat -8px -14px;
			position: absolute;	
			right: 0;
			top: 48%;
		}
		
		.nav-list {
			position: absolute;	
			left: 0;
			width: 100px;	
			background: #242424;
			overflow: hidden;
			max-height: 0;
				
			@media screen and (min-width: 480px) {
				bottom: -120px;	
				transition: none;
			}
				
			@media screen and (min-width: 950px) {
				bottom: -2px;
				transition: max-height .7s ease;
			}	
		}
		
		.elem__nav-list {
			padding: 15px 40px 15px 35px;	
			color: #ffffff;
			&:hover {
				color: #6b58cd;
			}
		}
	}
	
	& .lang {
		float: right;
		position: relative;	
		padding-left: 40px;
		cursor: pointer;
		
		&:hover {
			.nav-list {
				max-height: 500px;			
			}
		}
		
		&:before {
			content: ' ';
			width: 9px;	
			height: 5px;	
			background: url('../images/sprite.png') no-repeat -8px -14px;
			position: absolute;	
			left: 25%;
			top: 46%;
			transition: top .1s ease
		}	
		@media screen and (min-width: 480px) {	
			padding: 10px 13px 10px 40px;
			border: 1px solid #9d9d9d;
			border-radius: 4px;
			margin-top: 23px;	
		}	
		
		@media screen and (min-width: 960px) {
			border: 0;
			border-left: 1px solid #e6e6e6;	
			padding: 35px 13px 37px 40px;
			margin-top: 0;	
		}	
	}
	& .burger {
		float: right;
		cursor: pointer;	
		width: 33px;	
		height: 33px;	
		margin-top: 25px;
		margin-left: 50px;		
		background: url('../images/sprite.png') no-repeat -371px -8px;
		@media screen and (min-width: 480) {	
			display: block;	
		}	
		@media screen and (min-width: 960px ) {	
			display: none;
		}	
		
	}
}