@import 'sections/style';

.parallax-window {
	height: 500px;
	position: relative;
}

.parallax-window h3 {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	font-size: 45px;
	color: #fff;
	font-weight: 700;
}

.parallax-window h4 {
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	font-size: 30px;
	color: #fff;
	font-weight: 300;
}

.content {
	background: #f6f7fa;
	font-size: 15px;
	color: #515151;
	padding-top: 50px;
	font-weight: 300;
	line-height: 28px;
	padding-bottom: 45px;
}

.info {
	padding-top: 55px;
	padding-bottom: 35px;
	background: #f3f4f4;
	.media {
		@media screen and (min-width: 480px) {
			@include span(12);
		}
		@media screen and (min-width: 970px) {
			@include span(8);
		}
		padding-left: 0;
		padding-right: 0;
	}
	.video__media {
		@include span(12);
		height: 450px;
		cursor: pointer;
		position: relative;

		.wrap {
			position: relative;
			height: 100%;
			overflow: hidden;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				height: auto;
				transform: translate(-50%, -50%);
			}
		}
		&:after {
    	content: ' ';
	    width: 64px;
	    height: 64px;
	    background: url("../images/sprite.png") no-repeat -256px -80px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			height: auto;
			transform: translate(-50%, -50%);
		}
	}
	.images__media {
		height: 210px;
		padding-left: 15px;
		padding-right: 15px;
		height: 170px;
		margin-top: gutter();
		margin-bottom: gutter();

		@media screen and (miw-width: 480px) {
			@include span(12);
		}
		@media screen and (min-width: 750px) {
			@include span(6);
		}

		.wrap {
			position: relative;
			height: 100%;
			overflow: hidden;
			display: block;

			&:hover {
				img {
					transform: translate(-50%, -50%) scale(1.3);
				}
				.filter {
					opacity: 1;
				}
			}

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				max-width: 120%;
				height: auto;
				transform: translate(-50%, -50%) scale(1);
				transition: transform 2s ease;
			}

			.filter {
				position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background: rgba(107, 88, 205, 0.8);
		    opacity: 0;
		    transition: opacity .3s ease;

		    &:before {
			    content: ' ';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: url("../images/sprite.png") no-repeat -164px -2px;
					width: 57px;
					height: 57px;
		    }
			}
		}
	}
	.text {
		@media screen and (min-width: 480px) {
			@include span(12);
		}
		@media screen and (min-width: 970px) {
			@include span(4);
		}
	}
	.content__text {
		font-weight: 300;
		color: #515151;
		font-size: 15px;
		line-height: 24px;
	}
	.spectacles__text {
		margin-top: 80px;
		h3 {
			font-size: 30px;
			color: #404040;
			font-weight: 700;
		}
		ul {
			margin-top: 35px;
			a {
				color: #515151;
				&:hover {
					color: #6b58cd;
				}
			}
			li {
				border-bottom: 1px solid #d6d6d6;
				padding-bottom: 15px;
				margin-top: 15px;
			}
		}
	}
}
