script(src!="<?php echo get_template_directory_uri();?>/libs/jquery/dist/jquery.min.js")
script(src!="<?php echo get_template_directory_uri();?>/libs/FlexSlider/jquery.flexslider.js")
//script(src!="<?php echo get_template_directory_uri();?>/libs/fancybox/source/jquery.fancybox.pack.js")
script(src!="<?php echo get_template_directory_uri();?>/js/main.js")